.topnav {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 10px; /* Adjust this value to add spacing between links */
  }


  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    width: 30%; /* Adjust the width as needed */
}
