<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/text.css') }}">
    <link rel="icon" href="imgs/favicon.ico ">
    <style>
        .survey-card {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px 40px;
        }
        .survey-card .subtitle {
            margin-bottom: 20px;
        }
        .survey-card input {
            margin-bottom: 20px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body> 
<div class="container-fluid">
   <div class="col py-3 bg-light "  style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
       <br>
       <h2 class="title" style="margin-left: 40px;">Surveys</h2>
       <p class="subtitle" style="margin-left: 40px;">If you have conducted surveys related to our employer brand, we encourage you to upload them here. Your surveys will provide valuable insights into employee perceptions, satisfaction, and areas for improvement.
         Don't have surveys at hand? No problem! You can still contribute by answering the questions provided below. Your responses will be just as valuable in shaping our employer brand strategy.</p>
       <br>
       <form action="/surveys_upload" method="post" enctype="multipart/form-data">
       <div class="survey-card">
         <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <p class="title">Upload eNPS Survey:</p>
                        <p class="subtitle">Measures employee loyalty and satisfaction by asking how likely they are to recommend our company as a place to work.</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-end justify-content-end">
                        <label for="npsSurvey" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">
                            Upload Survey
                            <input type="file" name="npsSurvey" id="npsSurvey" style="display: none; margin-left: 40px;" onchange="showFileName('npsSurvey', 'npsFileName')"> 
                        </label>
                    </div>
                </div>
                <br>
                <label class="subtitle" for="npsMetric" style="margin-left: 40px;">If you don't have this survey readily available, please provide your estimated eNPS score on a scale of 1 to 10</label>
                <br>
                <input style="width: 70%; margin-left: 20px" class="form-control subtitle" type="text" id="npsMetric" name="npsMetric">   
                <span id="npsFileName"></span>           
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <p class="title">Upload Candidate Experience Rating</p>
                        <p class="subtitle">Evaluates satisfaction levels of candidates post-recruitment, focusing on communication, transparency, and overall experience.</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-end justify-content-end">
                        <label for="candidateExperienceRating" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">
                            Upload Survey
                            <input type="file" name="candidateExperienceRating" id="candidateExperienceRating" style="display: none; margin-left: 40px;" onchange="showFileName('candidateExperienceRating', 'candidateFileName')"> 
                        </label>
                    </div>
                </div>
                <br>
                <label class="subtitle" for="candidateMetric" style="margin-left: 40px;">If you don't have this survey readily available, please provide your estimated candidate experience rating on a scale of 1 to 10</label>
                <br>
                <input style="width: 70%; margin-left: 20px" class="form-control subtitle" type="text" id="candidateMetric" name="candidateMetric">   
                <span id="candidateFileName"></span>             
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <p class="title">Upload Retention Survey</p>
                        <p class="subtitle">Gathers feedback from employees on job satisfaction, career development, and work-life balance to improve retention.</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-end justify-content-end">
                        <label for="retentionSurvey" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">
                            Upload Survey
                            <input type="file" name="retentionSurvey" id="retentionSurvey" style="display: none; margin-left: 40px;" onchange="showFileName('retentionSurvey', 'retentionFileName')"> 
                        </label>
                    </div>
                </div>
                <br>
                <label class="subtitle" for="retentionMetric" style="margin-left: 40px;">If you don't have this survey readily available, please provide your estimated retention rating on a scale of 1 to 10</label>
                <br>
                <input style="width: 70%; margin-left: 20px" class="form-control subtitle" type="text" id="retentionMetric" name="retentionMetric">   
                <span id="retentionFileName"></span>             
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <p class="title">Upload Work Place Environment Survey</p>
                        <p class="subtitle">Assesses the culture, communication, diversity, and work-life balance within our organization for a positive working environment.</p>
                     </div>
                     <div class="col-md-2 d-flex align-items-end justify-content-end">
                     <label for="workplaceEnviornmentSurvey" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">
                     Upload Survey
                     <input type="file" name="workplaceEnviornmentSurvey" id="workplaceEnviornmentSurvey" style="display: none; margin-left: 40px;" onchange="showFileName('workplaceEnviornmentSurvey', 'workplaceFileName')">
                     </label>
                     </div>
                     </div>
                     <br>
                     <label class="subtitle" for="workplaceEnvironmentMetric" style="margin-left: 40px;">If you don't have this survey readily available, please provide your estimated workplace environment rating on a scale of 1 to 10</label>
                     <br>
                     <input style="width: 70%; margin-left: 20px" class="form-control subtitle" type="text" id="workplaceEnvironmentMetric" name="workplaceEnvironmentMetric">
                     <span id="workplaceFileName"></span>
                     </div>
                     </div>
                     <br>
                     <div class="text-center">
                     <input type="submit" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3" value="Continue">
                     <br>
                     </div>
                     </form>
                     </div>
                     <br>
                     
                        </div>
                     </div>
                     </div>
                     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>  
                     <script>
                         function showFileName(inputId, spanId) {
                             var input = document.getElementById(inputId);
                             var fileName = input.files[0].name;
                             document.getElementById(spanId).innerHTML = fileName;
                         }
                     </script>
                     </body>
                     </html>
                     ```