{% extends "flash.html" %}
{% block title %}Surveys{% endblock %}

{% block content %}
   <h1>My Surveys</h1> 
   <form action="/surveys_upload" method="post" enctype="multipart/form-data">
    <p>Upload eNPS Survey:</p>
    <input type="file" name="npsSurvey">
    <p>Upload Candidate Experience Rating:</p>
    <input type="file" name="candidateExperienceRating">
    <p>Retention Survey:</p>
    <input type="file" name="retentionSurvey">
    <p>Work Place Environment Survey:</p>
    <input type="file" name="workplaceEnviornmentSurvey">
    <br>
    <input type="submit" value="Continue">
    </form>
    <!-- 
   <a href="/home">Submit</a>-->
{% endblock %}