<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/sidenav.css') }}">
</head>
<body>
    <!-- Navigation bar -->
    <div class="sidenav">
        <a href="/home"><img src="{{ url_for('static', filename='images/Logo_Placeholder.png') }}" alt="Logo_Placeholder" width="100" height="100"></a>
        <a href="/home">Dashboard</a>
        <a href="#">Surveys</a>
        <a href="/bank_questions">Questions Bank</a>
        <a href="#">Recommendations</a>
        <a href="#">Account</a>
        <a href="{{ url_for('auth.logout') }}"style="position: absolute; bottom: 20px;">Logout</a>
      </div>
    <div class="main">
    </div>
    <!-- Main content container -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>