<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <form method="POST" action="/answers_submission">
        <h3 align="center">Questions Bank</h3>      
        <div>
            <label for="benchmarkCompanies">Which companies do you regularly benchmark against in terms of products/services
                and market position?
            </label>
            <br>
            <input type="text" id="benchmarkCompanies" name="benchmarkCompanies" style="width: 70%;">
            <br>
            <br>
            <label for="timeToFill">How long does it normally take to fill a job position from the time it was opened until 
                the candidate accepts the offer?
            </label>
            <br>
            <input type="text" id="timeToFill" name="timeToFill" style="width: 70%;">
            <br>
            <br>
            <label for="demographicBreakdown">Please provide the demographic breakdown of your workforce including gender, ethnicity, 
                and age groups.              
            </label>
            <br>
            <input type="text" id="demographicBreakdown" name="demographicBreakdown" style="width: 70%;">
            <br>
            <br>
            <label for="leadershipDiversity">What percentage of your leadership positions are occupied by individuals from 
                underrepresented groups?          
            </label>
            <br>
            <input type="text" id="leadershipDiversity" name="leadershipDiversity" style="width: 70%;">
            <br>
            <br>
            <label for="NPS">How likely are your customers to recommend your products/services to others? (Net Promoter 
                Score)      
            </label>
            <br>
            <input type="number" id="NPS" name="NPS" style="width: 70%;">
            <br>
            <br>
            <label for="brandFamiliarity">How familiar are potential candidates with your company's employer brand?
            </label>
            <br>
            <input type="text" id="brandFamiliarity" name="brandFamiliarity" style="width: 70%;">
            <br>
            <button type="submit">Submit</button>
    </form>  
<p>For information on why we collect this data, please refer to our <a href="/privacy_policy">Privacy Policy.</a></p>
</body>
</html>