<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <form method="POST">
        <h3 align="center">Questions Bank</h3>      
        <div>
            <label for="benchmark">Which companies do you regularly benchmark against in terms of products/services
                and market position?
            </label>
            <br>
            <input type="text" id="benchmark" name="benchmark" style="width: 70%;">
            <br>
            <br>
            <label for="timeToFill">How long does it normally take to fill a job position from the time it was opened until 
                the candidate accepts the offer?
            </label>
            <br>
            <input type="text" id="timeToFill" name="timeToFill" style="width: 70%;">
            <br>
            <br>
            <label for="demographic">Please provide the demographic breakdown of your workforce including gender, ethnicity, 
                and age groups.              
            </label>
            <br>
            <input type="text" id="demographic" name="demographic" style="width: 70%;">
            <br>
            <br>
            <label for="leadership">What percentage of your leadership positions are occupied by individuals from 
                underrepresented groups?          
            </label>
            <br>
            <input type="text" id="leadership" name="leadership" style="width: 70%;">
            <br>
            <br>
            <label for="NPS">How likely are your customers to recommend your products/services to others? (Net Promoter 
                Score)      
            </label>
            <br>
            <input type="text" id="NPS" name="NPS" style="width: 70%;">
            <br>
            <br>
            <label for="familiarity">How familiar are potential candidates with your company's employer brand?
            </label>
            <br>
            <input type="text" id="familiarity" name="familiarity" style="width: 70%;">
            <br>
            <a href="/home">Submit</a>
    </form>  
</body>
</html>