<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <form method="POST">
        <h3 align="center">Questions Bank</h3>      
        <div>
            <label for="benchmark">Which companies do you regularly benchmark against in terms of products/services
                and market position?
            </label>
            <br>
            <input type="text" id="benchmark" name="benchmark" style="width: 70%;">
            <br>
            <label for="email">How long does it normally take to fill a job position from the time it was opened until 
                the candidate accepts the offer?
            </label>
            <br>
            <input type="text" id="benchmark" name="benchmark" style="width: 70%;">
            <br>
            <a href="/home">Submit</a>
    </form>  
</body>
</html>