<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/text.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="{{ url_for('static', filename='images/LogoText.png') }}" alt="" width="140" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex ml-auto">
                <a href="/sign-up"><button class="btn btn-outline-primary custom-signup-btn me-2">Sign up</button></a>
                <a href="/login"><button type="button" class="btn custom-login-btn">Log in</button></a>
            </div>
        </div>
    </nav>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <!-- Display error messages -->
            {% if category == 'error' %}
            <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="font-family: 'Poppins', sans-serif;">
                {{ message }}
                <!-- Close button for the message -->
                <button type="button" class="close" aria-label="Close" onclick="closeAlert('error-alert')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <!-- Display success messages -->
            <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="font-family: 'Poppins', sans-serif;">
                {{ message }}
                <button type="button" class="close" aria-label="Close" onclick="closeAlert('success-alert')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Main content container -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT+3QUGAK7cJmxo0l8/t5Yk7x+Gpg+hXrP5mFNtvLCPI5BKik4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybNm8zC5EZmPzZD4MUpO8WtcCeOKaIrH1z9HXQm38p7fU7QWp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-9/aO8IOMpR0kz2RvN9IfZZVcGF8B5KZr5R5paJY6yBcX8Cv+6WpqPyKf05fF1sS3" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function closeAlert(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>
</body>
</html>
