{% extends "flash.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<!-- Main content -->
<form method="POST">
    <br>
    <br>
    <br>  
    <div class="container custom-navbar" style="max-width: 800px;">
        <br>
        <main>
            <form class="needs-validation custom-form" novalidate="">
                <div class="text-center">
                    <br>
                    <br>
                    <h2 class="title" style="font-size: 40px;">Log in your account</h2>
                    <p class="subtitle" style="font-size: 20px; text-align: center;">Elevate Your Brand, Attract Top Talent.</p>
                    <br>
                </div>
    <div>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter email" value="{{ form_data.email }}">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password">
    </div>
    <br/>
    <div class="text-center">
        <button type ="submit" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">Log in</button>
    <br>
    <br>
    <a href="/login" class="subtitle orange-text">Forgot your password?</a>
    </div>
    <br>
    <br>
    <!--  
    <button type="submit">Login</button><br>
    <a href="/">Forgot password?</a>-->
</form> 
{% endblock %}
