{%  extends "base.html" %} {% block title %}Questions Bank{% endblock %}
<!-- Main content container -->
{% block content %}
<div class="main">
    <form method="POST" action="/changed_answers_submission">
        <h3 align="center">My Questions</h3>   
        <p>Revisit, update, or answer any questions you may have missed during your initial sign-up</p>   
        <div>
            {% for answer in answers %}       
            <label for="benchmarkCompanies">Which companies do you regularly benchmark against in terms of products/services
                and market position? (Add between 3-5)
            </label>
            <br>
            <input style="width: 70%;" type="text" name="benchmarkCompanies" value="{{ answer.benchmark_companies }}">
            <br>
            <br>
            <label for="demographicBreakdown">What is your demographic background? (Provide options such as gender, ethnicity, sexual orientation, disability status, etc.)
            </label>
            <br>
            <input style="width: 70%;" type="text" name="demographicBreakdown" value="{{ answer.demographic_breakdown }}">
            <br>
            <br>
            <label for="leadershipDiversity">What percentage of your leadership positions are occupied by individuals from 
                underrepresented groups?          
            </label>
            <br>
            <input style="width: 70%;" type="text" name="leadershipDiversity" value="{{ answer.leadership_diversity }}">
            <br>
            <br>
            <label for="brandFamiliarity">How familiar are potential candidates with your company's employer brand?
            </label>
            <br>
            <input style="width: 70%;" type="text" name="brandFamiliarity" value="{{ answer.employer_brand_familiarity }}">
            <br>
            <br>
            <label for="channels">What recruitment channels does your company utilize?
            </label>
            <br>
            <input style="width: 70%;" type="text" name="channels" value="{{ answer.channels }}">
            <br>
            <br>
            <label for="investment">What budget is allocated for employer branding initiatives?  
            </label>
            <br>
            <input style="width: 70%;" type="text" name="investment" value="{{ answer.investment }}">
            <br>
            <br>
            <label for="development">Are there opportunities for personal growth and development? If so, which ones?
            </label>
            <br>
            <input style="width: 70%;" type="text" name="development" value="{{ answer.development }}">
            <br>
            <button type="submit">Submit</button>
            {% endfor %}
    </form>       
</div>
{% endblock %}