<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Questions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/text.css') }}">
    <link rel="icon" href="imgs/favicon.ico ">
    <style>
        .survey-card {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px 40px;
        }
        .survey-card .subtitle {
            margin-bottom: 20px;
        }
        .survey-card input {
            margin-bottom: 20px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <br>
                    <a class="navbar-brand" href="/home">
                        <img src="{{ url_for('static', filename='images/LogoText.png') }}" alt="Logo_Placeholder" width="120" height="43" style="margin-right: 10px;">
                    </a>
                    <br>
                    <br>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/home" class="nav-link px-0 align-middle dash-hover">
                                <img src="{{ url_for('static', filename='images/Home.png') }}" alt="" width="30" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title">Home</span>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a href="/my_surveys" class="nav-link px-0 align-middle dash-hover">
                                <img src="{{ url_for('static', filename='images/Surveys_Icon.png') }}" alt="" width="20" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title">My Surveys</span>
                            </a>
                            <br>
                            <a href="/bank_questions" class="nav-link px-0 align-middle custom-hover">
                                <img src="{{ url_for('static',  filename='images/Questions_Hover.png') }}" alt="" width="25" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title orange-text">My Questions</span>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a href="/recommendations" class="nav-link px-0 align-middle dash-hover">
                                <img src="{{ url_for('static', filename='images/Recommendations_Icon.png') }}" alt="" width="25" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title">Recommendations</span>
                            </a>
                            <br>
                            <a href="#" class="nav-link px-0 align-middle dash-hover">
                                <img src="{{ url_for('static', filename='images/Benchmarking_Icon.png') }}" alt="" width="25" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title">Benchmarking</span>
                            </a>
                            <br>
                            <a href="#" class="nav-link px-0 align-middle dash-hover">
                                <img src="{{ url_for('static', filename='images/Settings_Icon.png') }}" alt="" width="25" height="25" style="margin-right: 10px;">
                                <span class="ms-1 d-none d-sm-inline title">Account</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="fixed-bottom mb-4 ml-4">
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename='images/Profile_Icon.jpeg') }}" alt="Profile Icon" width="30" height="30" class="rounded-circle" style="margin-right: 10px;">
                                <span class="d-none d-sm-inline mx-1 title">Marta Lendínez</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col py-3 bg-light "  style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <br>
                    <h2 class="title" style="margin-left: 40px;">Questions</h2>
                    <p class="subtitle" style="margin-left: 40px;">Revisit, update, or answer any questions you may have missed during your initial sign-up.</p>
                    <br>
                    <form method="POST" action="/changed_answers_submission">
                    <div class="survey-card">
                        {% for answer in answers %} 
                                <p class="subtitle" style="margin-left: 10px;">Which companies do you regularly benchmark against in terms of products/services
                                    and market position? (Add between 3-5)
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="benchmarkCompanies" name="benchmarkCompanies" style="margin-left: 10px;" value="{{ answer.benchmark_companies }}">
                                <br>
                                <p class="subtitle" style="margin-left: 10px;">What is your demographic background? (Provide options such as gender, ethnicity, sexual orientation, disability status, etc.)
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="demographicBreakdown" name="demographicBreakdown" style="margin-left: 10px;" value="{{ answer.demographic_breakdown }}">
                                <br><p class="subtitle" style="margin-left: 10px;">What percentage of your leadership positions are occupied by individuals from 
                                    underrepresented groups?     
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="leadershipDiversity" name="leadershipDiversity" style="margin-left: 10px;" value="{{ answer.leadership_diversity }}">
                                <br><p class="subtitle" style="margin-left: 10px;">How familiar are potential candidates with your company's employer brand?
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="brandFamiliarity" name="brandFamiliarity" style="margin-left: 10p;" value="{{ answer.employer_brand_familiarity }}">
                                <br> <p class="subtitle" style="margin-left: 10px;">What recruitment channels does your company utilize?   
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="channels" name="channels" style="margin-left: 10px;" value="{{ answer.channels }}">
                                <br> <p class="subtitle" style="margin-left: 10px;">What budget is allocated for employer branding initiatives?   
                     </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="investment" name="investment" style="margin-left: 10px;" value="{{ answer.investment }}">
                                <br> <p class="subtitle" style="margin-left: 10px;">Are there opportunities for personal growth and development? If so, which ones?  
                                </p>
                                <input style="width: 90%;" class="form-control subtitle" type="text" id="development" name="development" style="margin-left: 10px;" value="{{ answer.development }}">
                        <br> 
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">Submit</button>                     
                        {% endfor %}
                        <br>
                    </div>
                    <br>
                </div>
            </form>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>