{% extends "flash.html" %}
{% block title %}Create Account{% endblock %}

{% block content %}
<br>
<br>
<br>  
<form method="POST">
    <div class="container custom-navbar" style="max-width: 800px;">
        <br>
        <main>
            <div class="needs-validation custom-form" novalidate="">
                <div class="text-center">
                    <br>
                    <br>
                    <h2 class="title" style="font-size: 40px;">Create your account</h2>
                    <p class="subtitle" style="font-size: 20px; text-align: center;">Elevate Your Brand, Attract Top Talent.</p>
                    <br>
                </div>    
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-3">
                        <input type="email" autocomplete="off" class="form-control subtitle" id="email" name="email" placeholder="Enter email" value="{{ form_data.email }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" autocomplete="off" class="form-control subtitle" id="firstName" name="firstName" placeholder="Enter first name" value="{{ form_data.first_name }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="password" autocomplete="off" class="form-control subtitle" id="password1" name="password1" placeholder="Enter password">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="password" autocomplete="off" class="form-control subtitle" id="password2" name="password2" placeholder="Confirm password">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control subtitle" id="companyName" name="companyName" placeholder="Enter company name" value="{{ form_data.company_name }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" autocomplete="off" class="form-control subtitle" id="jobTitle" name="jobTitle" placeholder="Enter job title" value="{{ form_data.job_title }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" autocomplete="off" class="form-control subtitle" id="department" name="department" placeholder="Enter department" value="{{ form_data.department }}">
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">Sign up</button>          
                    <br>
                    <br>
                    <a href="/login" class="subtitle orange-text">Already have an account?</a>
                </div>
                <br>
                <br>
            </div>
        </main>
    </div>
</form>
{% endblock %}
