<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
</head>
<body>
    <h1>Tutorials</h1>
    <p>Welcome to our tutorials section, designed to help you maximize the benefits of our platform and understand its features and functionalities. Whether you're new to Kallos or looking to deepen your knowledge, these tutorials will guide you through the ins and outs of our platform.</p>
    <h3>Getting Started:</h3>
    <ul>
        <li>Introduction to Kallos</li>
        <li>Creating Your Account</li>
    </ul> 
    <h3>Platform Features:</h3>
    <ul>
        <li>Advanced Analysis with LLM</li>  
        <li>Tailored Recommendations</li>
        <li>Benchmarking Insights</li>
    </ul>    
    <h3>Navigating the Dashboard:</h3>
    <ul>
        <li>Dashboard Overview</li>
        <li>Data Input</li>
    </ul>    
    <h3>My Questions and Surveys:</h3>
    <ul>
        <li>Input</li>
        <li>Access</li>
    </ul>    
    <a href="/questions">Done</a>
</body>
</html>