<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/text.css') }}">
    <link rel="icon" href="imgs/favicon.ico ">
    <style>
        .survey-card {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px 40px;
        }
        .survey-card .subtitle {
            margin-bottom: 20px;
        }
        .survey-card input {
            margin-bottom: 20px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col py-3 bg-light "  style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <br>
            <h2 class="title" style="margin-left: 40px;">Tutorials</h2>
            <p class="subtitle" style="margin-left: 40px;">Welcome to our tutorials section, designed to help you maximize the benefits of our platform and understand its features and functionalities. Whether you're new to Kallos or looking to deepen your knowledge, these tutorials will guide you through the ins and outs of our platform.</p>
            <br>
            <div class="survey-card">
                <h3 class="title">Getting Started:</h3>
                <ul class="subtitle">
                    <li>Introduction to Kallos</li>
                    <li>Creating Your Account</li>
                </ul> 
                <h3 class="title">Platform Features:</h3>
                <ul class="subtitle">
                    <li>Advanced Analysis with LLM</li>
                    <li>Tailored Recommendations</li>
                    <li>Benchmarking Insights</li>
                </ul> 
                <h3 class="title">Navigating the Dashboard:</h3>
                <ul class="subtitle">
                    <li>Dashboard Overview</li>
                    <li>Data Input</li>
                </ul> 
                <h3 class="title">My Questions and Surveys:</h3>
                <ul class="subtitle">
                    <li>Input</li>
                    <li>Access</li>
                </ul>  
            <div class="text-center">
                <a href="/questions" class="btn btn-outline-primary custom-hero-signup-btn px-4 gap-3">Done</a>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>  
</div>
</body>
</html>